.footerIndex {
    grid-area: footer;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footerMail {
    background-color: white;
    margin: 10px 10px 10px 20px;
    padding: 5px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
}

.redes {
    height: 35px;
    width: 130px;
    display: flex;
    justify-content: center;
}

.redes img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}