.footerIndex {
    grid-area: footer;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 450px) {
        
    }
    > .footerMail a {
        background-color: white;
        margin: 10px 10px 10px 20px;
        padding: 5px;
        color: black;
        font-weight: bold;
        border-radius: 5px;
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        @media (max-width: 450px) {
            font-size: smaller;
        }
    }
    > .redes {
        height: 35px;
        width: 130px;
        display: flex;
        justify-content: center;
        @media (max-width: 450px) {
            height: 20px;
            width: 80px;
        }
        > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

