.body1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: " nav    nav    nav "
                         "header header header"
                         " main   main  main"
                         " main   main  main"
                         "footer footer footer"

                    
}

