.headerIndex {
    grid-area: header;
    background-image: url(../img/foto.jpg);
    background-size: cover;
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    color:white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.555), 
                 1px -1px 0px rgba(0, 0, 0, 0.555), 
			     -1px 1px 0px rgba(0, 0, 0, 0.555), 
			     -1px -1px 0px rgba(0, 0, 0, 0.555), 
			     1px 0px 0px rgba(0, 0, 0, 0.555), 
			     0px 1px 0px rgba(0, 0, 0, 0.555), 
			     -1px 0px 0px rgba(0, 0, 0, 0.555), 
			     0px -1px 0px rgba(0, 0, 0, 0.555);
    

    @media (max-width: 700px) {
        height: 500px;
        
    }
    @media (max-width: 450px) {
        height: 300px;
        
    }
    @media (max-width: 950px) {
        padding: 50px;
        
    }

    .encabezadoInfo {
        color: white;

        
    }

    .btnHeader {
        margin-top: 10px;
        padding: 5px 25px;
        background-color: rgba(100, 72, 30, 0.603);
        border: none;
        color: white;
        border-radius: 5px;
        font-weight: bold;
    }

}



