.mainContactos {
    grid-area: main;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mainSection1Contactos {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

.mainSection1Contactos input {
    width: 550px;
    padding: 5px;
}

.mainSection1Contactos textarea {
    width: 550px;
    height: 150px;
}

.btn-contacto input {
    background-color: rgb(0, 183, 255);
    color: #FFF;
    height: 30px;

}

.mainSection2Contactos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.mainSection2Contactos li {
    background-color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    margin: 10px;
    font-weight: bold;
}

.maps iframe {
    margin: 0px 0px 10px 0px;
    width: 100%;
    height: 400px;
}