.mainWods {
    grid-area: main;

    > .mainSection1 {
        display: flex;
        justify-content: space-between;
            @media (max-width: 880px) {
                display: flex;
                flex-direction: column;
            }
        > .pizzarron  {
            display: flex;
            flex-direction: column;
        }
        > .mainTextos1 {
            background-color: rgba(0, 92, 128, 0.582);
            font-weight: bold;
            font-style: oblique;
            padding: 15px;
                
        }
    }
    > .mainSection2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-style: oblique;
        > .mainTextos2 {
            background-color: beige;
            padding: 10px;
        }
        > .mainSectionB {
            padding: 5px 10px 5px 10px;
            background-color: rgba(19, 219, 176, 0.445);
            p {
                padding: 10px;
            
            }
        }
        > .mainSectionC {
            width: 100%;
            padding: 10px;
            background-color: rgba(100, 90, 87, 0.445);
        
        }
    }
}
