* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "asideContactos";
@import "gridIndex";
@import "footerIndex";
@import "headerContactos";
@import "headerIndex";
@import "headerWods";
@import "mainContactos";
@import "mainIndex";
@import "mainWods";
@import "navIndex";
